doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Urban Wildlife web app using iNaturalist database')
    meta(name='author', content='Zhi Hao (David) Chen')
    title Urban Wildlife App
    link(href='/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel='icon', href='../../images/icon.png')


body
  div.navbar.navbar-default.navbar-static-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div
          img#logo(src='../../images/icon.png')
          a.navbar-brand(href=toMain) Urban Wildlife
      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href=toNew)
              span.glyphicon.glyphicon-plus
              |  Add Entry
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') 
              span.glyphicon.glyphicon-book
              |  Reference
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Species Names
              li
                a(href='../temp') Maps
              li
                a(href='../temp') Checklist
          li
            a(href=toRecords)
              span.glyphicon.glyphicon-list
              |  Records
          li
            a(href=toProfile)
              span.glyphicon.glyphicon-user
              |  Profile
          li
            a(href='../../')
              span.glyphicon.glyphicon-log-out
              |  Logout

  div.container
    div.jumbotron
      h1 Species Name Search
      h3 We use the Canadsys database to ensure to keep our naming as consistent possible.  Enter names here to see if your names matches.
      
      div.voffset
      
      form(role='form', method='post')
              div.form-group
                label(for='search') Search Species
                input.form-control#search(type='text', placeholder='Please enter Scientific name, Common name or VASON taxon identifier.', name='search')
              button.btn.btn-success.pull-right(type='submit') Submit


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js')
