extends layout

block extraHeader
  link(rel='icon', href='images/icon.png')

block navbar
  div.navbar-collapse.collapse
    ul.nav.navbar-nav.navbar-right
      li
        a(href=url) Log in to iNaturalist
      li
        a(href=signup) Sign Up

block content 
  div.container
    div.jumbotron.text-center
      h1 Urban Wildlife
      

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js')