doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='Urban Wildlife web app using iNaturalist database')
  meta(name='author', content='Zhi Hao (David) Chen')
  link(rel='icon', href='images/icon.png')
  title Urban Wildlife App
  block extraHeader


body
  block content
  block scripts