doctype html
html(lang='en')
  head
  	meta(chartset='utf-8')
  	meta(name='viewport', content='width=device-width, initial-scale=1')
  	meta(name='description', content='Urban Wildlife web app using iNaturalist database')
  	meta(name='author', content='Zhi Hao (David) Chen')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content