doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Urban Wildlife web app using iNaturalist database')
    meta(name='author', content='Zhi Hao (David) Chen')
    title Urban Wildlife App
    link(href='/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/test.css', rel='stylesheet')
    link(href='/stylesheets/typeaheadjs.css', rel='stylesheet')
    link(rel='icon', href='../images/icon.png')


body
  div.navbar.navbar-default.navbar-static-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div
          img#logo(src='../images/icon.png')
          a.navbar-brand(href=toMain) Urban Wildlife
      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href=toNew)
              span.glyphicon.glyphicon-plus
              |  Add Entry
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') 
              span.glyphicon.glyphicon-book
              |  Reference
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/users/reference') Species Names
              li
                a(href='../temp') Maps
              li
                a(href='../temp') Checklist
          li
            a(href=toRecords)
              span.glyphicon.glyphicon-list
              |  Records
          li
            a(href=toProfile)
              span.glyphicon.glyphicon-user
              |  Profile
          li
            a(href='../')
              span.glyphicon.glyphicon-log-out
              |  Logout

  div.container
    div.row
      div.container
        div.jumbotron
          h1 Enter New Observation
          p Please enter as much information as you can.  Leaving fields blank will still be ok.
          div.voffset50
          form(role='form', method='post', enctype='multipart/form-data')
            div.form-group
              label(for='image') Photo
              input.form-control#image(type='file', accept='image/*', name='file')
            div.form-group
              label(for='guess') Species Guess
              div#canadensys
                input.form-control.typeahead#guess(type='text', placeholder='Guess the name of your entry', name='guess')
            div.form-group
              label(for='seen') Observered on(YYYY-MM-DD)
              input.form-control#seen(type='text', placeholder='YYYY-MM-DD', name='seen')
            div.form-group
              label(for='desc') Description
              textarea.form-control#desc(rows='5', placeholder='Describe stuff', name='desc')
            div.form-group.col-xs-6.no-padding
              label(for='lon') Longitude
              input.form-control#lon(type='number', placeholder='Longitudinal Coordinate', name='lon')
            div.form-group.col-xs-6.no-padding
              label(for='lat') Latitude
              input.form-control#lat(type='number', placeholder='Latitudinal Coordinate', name='lat')
            button.btn.btn-success(type='submit') Submit
            a.btn.btn-default(href='/users/main') Cancel


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js')
  script(src='/lib/typeahead.js/bloodhound.min.js')
  script(src='/lib/typeahead.js/typeahead.bundle.min.js')
  script(src='/lib/typeahead.js/typeahead.jquery.min.js')
  script(src='/javascripts/autocomplete.js')