doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Urban Wildlife web app using iNaturalist database')
    meta(name='author', content='Zhi Hao (David) Chen')
    title Urban Wildlife App
    link(href='/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel='icon', href='images/icon.png')


body
  div.navbar.navbar-default.navbar-static-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div
          img#logo(src='../images/icon.png')
          a.navbar-brand(href='#') Urban Wildlife
      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href=url) Log in to iNaturalist
          li
            a(href=signup) Sign Up

  div.container
    div.jumbotron
      div.row
        for m in messages
          p.errors #{m}
      h1 Register an iNaturalist account
      div.row
        div.text-center
          form.form-horizontal(role='form', method='post')
            div.form-group
              label.readable.col-sm-2.col-sm-offset-1.control-label(for='email') Email address
              div.col-sm-8
                input.form-control#email(type='email', placeholder='Enter email', name='email')
            div.form-group
              label.readable.col-sm-2.col-sm-offset-1.control-label(for='username') Username
              div.col-sm-8
                input.form-control#username(type='text', placeholder='Enter desired username', name='username')
            div.form-group
              label.readable.col-sm-2.col-sm-offset-1.control-label(for='password') Password
              div.col-sm-8
                input.form-control#password(type='password', placeholder='Enter a Password', name='password')
            div.form-group
              label.readable.col-sm-2.col-sm-offset-1.control-label(for='confirmpw') Confirmation
              div.col-sm-8
                input.form-control#confirmpw(type='password', placeholder='Retype your password', name='confirmpw')
            div.form-group
              label.readable.col-sm-2.col-sm-offset-1.control-label(for='description') Description(optional)
              div.col-sm-8
                input.form-control#description(type='text', placeholder='Little blurb about yourself', name='description')
            button.btn.btn-default(type='submit') Join iNaturalist
      div.voffset50
      div.row
        p Note: After signing up, you will have to log in again to iNaturalist for us to gain access to your data.  Be sure to also authorize our app when prompted!
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js')
