body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/citybackdrop2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#test {
  background: url('../images/citybackdrop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-default {
  background-color: #66FF66;
  border-width: 0;
}

a {
  color: #00B7FF;
}

.container > .jumbotron{
  background-color: #C2F0C2;
}

.record:nth-of-type(odd){
  background-color: #CCEBD6;
}

.record:nth-of-type(even){
  background-color: #4DB870;
}

.hidden{
  opacity: 0;
}

#enter{
  margin-top: 45%;
}

#logo{
  float: left;
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
}

.primary{
  color: #CCEBD6;
}

.second{
  color: #4DB870;
}

.readable{
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #4DB870;
    color: #CCEBD6;
    font-size: 16px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background-color: #f5f5f5;
}