body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DEFFDE;
}

#test {
  background: url('../images/citybackdrop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-default {
  background-color: #66FF66;
  border-width: 0;
}

a {
  color: #00B7FF;
}

.container > .jumbotron{
  background-color: #66FF33;
}

.container > .jumbotron > .row:nth-of-type(odd){
  background-color: red;
}

.container > .jumbotron > .row:nth-of-type(even){
  background-color: blue;
}

.hidden{
  opacity: 0;
}

#enter{
  margin-top: 45%;
}