body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/citybackdrop2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-family: textFontOne;
}

h2{
  font-family: textFontOne;
}

p{
  font-family: textFontFive;
}

/*
 *  
 *  Fonts
 *  
 */

@font-face {
    font-family: textFontOne;
    src: url(../fonts/francois-one/FrancoisOne.ttf);
}

@font-face {
    font-family: textFontTwo;
    src: url(../fonts/quicksand/Quicksand-Bold.otf);
}

@font-face {
    font-family: textFontThree;
    src: url(../fonts/chuckfive/Chunkfive.otf);
}

@font-face {
    font-family: textFontFour;
    src: url(../fonts/sansation/Sansation-Regular.ttf);
}

@font-face {
    font-family: textFontFive;
    src: url(../fonts/aller/Aller_Rg.ttf);
}

#test {
  background: url('../images/citybackdrop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-default {
  background-color: #66FF66;
  border-width: 0;
}

a {
  color: #00B7FF;
}

.container > .jumbotron{
  background-color: #f5f5f5;
}

#enter{
  margin-top: 40%;
  height: 60px;
  font-size: 20px;
  line-height: 40px;
  vertical-align: baseline;
  transition: all 1s ease 0s;
}

#enter:hover {
  background: #449d44;
}

#logo{
  float: left;
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
}

.primary{
  color: #CCEBD6;
}

.second{
  color: #4DB870;
}

.readable{
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #4DB870;
    color: #CCEBD6;
    font-size: 16px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background-color: #f5f5f5;
}

/*
 *
 * Dashboard
 *
 */
ul.list-inline > li{
  background-color: white;
  height: 100px;
  width: 45%;
  margin: 10px;
}

ul.list-inline > li:hover{
  background-color: #ddd;
  border: 1px solid black;
}

ul.list-inline > li > .row > a:link{
  color: #4DB870;
  font-weight:500;
}

ul.list-inline > li > .row > a:visited{
  color: #4DB870;
  font-weight:500;
}

ul.list-inline > li > .row > a:hover{
  color: #4DB870;
  font-weight:bold;
}

.mainIcon > span, .glyphicon .glyphicon-plus{
  margin-top: 10px;
  font-size: 26px;
}

#map-canvas{height:400px;}

#map_canvas > div > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(3) > div > div.gm-style-iw {
    overflow: visible !important;
}


/*
 *  
 *  Records
 *  
 */
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.record:nth-of-type(odd){
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #CCEBD6;
}

.record:nth-of-type(even){
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4DB870;
}

.record-info > h2{
  font-family: textFontThree;
  margin-top: 0px;
}

.record-info > p{
  font-family: textFontFive;
  font-size: 16px;
}

.record:nth-of-type(odd) > .container > .row > .record-info > p > a:link{
  color: #4DB870;
}

.record:nth-of-type(odd) > .container > .row > .record-info > p > a:visited{
  color: #4DB870;
}

.record:nth-of-type(even) > .container > .row > .record-info > p > a:link{
  color: #CCEBD6;
}

.record:nth-of-type(even) > .container > .row > .record-info > p > a:visited{
  color: #CCEBD6;
}

/*
 *  
 *  Spacing
 *  
 */

.voffset10{margin-top: 10px;}
.voffset50{margin-top: 50px;}



/*
 *  
 *  Profile
 *  
 */
.profilepic {
  margin-left: 19px;
  float:left;
}

.welcome{
  position: relative;
  left: 20px;
}